@import 'variables';
.footer {
    height: 50px;
    background-color: $main;
    display: grid;
    grid-template-areas: "left right";
    .left {
        grid-area: left;
    }
    .right {
        grid-area: right;
        justify-self: right;
        padding: 10px 20px 10px 10px;

        a {
            color: $main-txt-light;
            font-size: 20px;
        }
    }
}